.card {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 2em;
}

.title-position {
    margin: 3em 0;
}

.subtitle-position {
    margin: 1.5em 0;
}

.description-position {
    margin: 1.5em 0;
}

.picture_profil {
  width:80px;
  height: 80px;
  border-radius: 50%;
  position: static;
  top: 5;
  left: 5;
}

.name_profil{
  position:sticky;
  top: 5;
  right: 5;
}

.post{
}

.multi_icons{
  margin-top: 220 px;
}